.DS_Store
~$*
*.synctex.gz
*.aux
*.bbl
*.blg
*.log
*.out
current/
*.tex
*.bib
*.bst
*.pptx
*.png
!ude.png
!udj_p1_tokenization.png
!udj_p2_feats.png
!udj_p3_deprel.png
!taguchi_code.png
!taguchiandmine.png
!udj_panel.png
MUDJ_corrected (1).pdf
